.Quiz  {
   
        margin: 0;
        padding: 0;
        list-style: none;
      
}
.Quiz-answerOptions {
        margin: 0;
        padding: 0;
        list-style: none;
      }
.Quiz button {
        /*display: block;*/
        width: 30%;
        padding: 1rem  0;
    }