
.FinalLists  {
    display: block;
    width: 350px;
    height: auto;
    border: 1px solid black;
    background-color: rgb(123, 210, 221);
}
.FinalLists ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.FinalLists li {
   /* padding: 16px 16px;*/
    list-style: none;
   /* background-color: lightblue;*/
}
.FinalLists button {
    
    width: 300px;
    padding: 0.5rem  0;
}
.FinalLists button:hover {
    background-color: rgba(233, 54, 233, 0.274);
    cursor: pointer;
}