
  
  .TableCategories th {
    font-size: 13px;
    font-weight: 700;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid white;
    color: #039;
    padding: 8px;
  }
  /*
  .TableQuiz table {
    text-align: center;
    margin: 20px auto;
    border-collapse: collapse;
  }
  */
  .TableCategories td {
    font-size: 13px;
    font-weight: 500;
    background: #e8edff;
    border-bottom: 1px solid white;
    color: #669;
    border-top: 1px solid transparent;
    padding: 0px;
  }
  .TableCategories tr:hover td {
    background: #ccddff;
  }
  .TableCategories button {
    cursor: pointer;
    font-size: 12px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .TableCategories .btn {
    width: 50px;
  }