.MenuLeft {
border: 1px solid black;
}
.MenuLeft  {
    margin-right: 1.5rem;
    }

    .MenuLeft  ul  {
        display: flex;
    } 

    .MenuLeft  li {
        padding: 0 1rem;
        list-style: none;
    }