.Admin {
    display: flex;
    position: fixed;
    bottom: 10rem;
    z-index: 10;
    text-align: start;
    width: 80%;

    font-size: 0.7rem;
    background-color: gainsboro;
    /*border: 1px solid black;*/
    border-top: 1px solid black;
}
.Admin ul {
    padding: 1rem;
    list-style: none;
}