.Admin {
    display: flex;
    position: fixed;
    top: 5rem;
    z-index: 10;
    text-align: start;
    width: 40%;

    font-size: 1.5rem;
    font-weight: 800;
    background-color: rgb(199, 221, 219);
    /*border: 1px solid black;*/
    border-top: 1px solid black;
}
.Admin ul {
    padding: 1rem;
    list-style: none;
}