.Question  {
    /*display: block;
    width: 200px;
    height: auto;
    border: 1px solid black;*/
    margin: 0;
    padding: 0.5rem 2.5rem 1.5rem 2.5rem;
    background-color: rgba(217, 255, 47, 0.527);
}