
/*.Node  {
    display: block;
    width: 350px;
    height: auto;
    border: 1px solid black;
    background-color: greenyellow;
}
*/
.Nodes-container  {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: greenyellow;
}

.Nodes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
/*
.Node ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
*/
.Nodes li {
   /* padding: 16px 16px;*/
    list-style: none;
   /* background-color: lightblue;*/
}
.Nodes button {
    
    width: 100px;

    padding: 1rem  0;
}
.Nodes button:hover {
    background-color: rgb(221, 219, 92);
    cursor: pointer;
}