
.Header  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.164);
   /*flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
}


/*
.Header  as {
    background-color: white;
    height: 4rem;
    position: fixed;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    min-width: 105px;
    align-items: center;
}
*/

