/*
.MenuSide {
  
    border: 1px solid black;

    }
    */
.MenuSide ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.MenuSide li {
   /* padding: 16px 16px;*/
    list-style: none;
   /* background-color: lightblue;*/
}

.MenuSide div {
    display: block;
    width: 100%;
    padding: 1rem  0;
}
.MenuSide a {
     
     text-decoration: none;
     color: black;
     
     
     
}


.MenuSide div:hover {
    background-color: rgb(196, 177, 196);
    cursor: pointer;
}

