/*
.MenuSide {
  
    border: 1px solid black;

    }
    */
.MenuSide ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.MenuSide li {
    padding: 16px 16px;
    list-style: none;
    background-color: lightblue;
}