.Result  {
   /* display: block;
    width: 300px;
    height: auto;
    border: 1px solid black;*/
    background-color: rgba(11, 243, 23, 0.301);
    
    padding: 1.5rem 2.5rem;
    }
    /*
   .Result button {
      background-color: #4CAF50; 
      border: none;
      color: rgb(12, 12, 12);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 4px
    }
    
    .Result button:hover {
      background-color: #1c551e; 
      color: white;
    }
    */
    .Result button {
      /*display: block;*/
      width: 50%;
      padding: 1rem  0;
  }
  
  
  
  .Result button:hover {
      background-color: rgb(196, 177, 196);
      cursor: pointer;
  }
  