.Footer {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 10;
    text-align: start;
    width: 100%;

    font-size: 0.7rem;
    background-color: lightskyblue;
    border: 1px solid black;
}
.Footer ul {
    padding: 1rem;
    list-style: none;
}