
.List  {
    display: block;
    width: 350px;
    height: auto;
    border: 1px solid black;
    background-color: greenyellow;
}
.List ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.List li {
   /* padding: 16px 16px;*/
    list-style: none;
   /* background-color: lightblue;*/
}
.List button {
    
    width: 300px;
    padding: 1rem  0;
}
.List button:hover {
    background-color: rgb(221, 219, 92);
    cursor: pointer;
}