/*
.MenuRight {
    border: 1px solid black;

    }
    */
.MenuRight {
    display: flex;
   /* justify-content: flex-start;*/
   margin-right: 3rem;
        
    }
    .MenuRight p {
        padding: 0 10px;
    }
    /*admin temporary*/
    #admin {
        font-weight: 800;
    }